<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>PCW Health Care</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="/assets/frappe/Gp/assets/img/logo.png" rel="icon">
  <link href="/assets/frappe/Gp/assets/img/logo.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/assets/frappe/Gp/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/assets/frappe/Gp/assets/vendor/icofont/icofont.min.css" rel="stylesheet">
  <link href="/assets/frappe/Gp/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="/assets/frappe/Gp/assets/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="/assets/frappe/Gp/assets/vendor/venobox/venobox.css" rel="stylesheet">
  <link href="/assets/frappe/Gp/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="/assets/frappe/Gp/assets/vendor/aos/aos.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="/assets/frappe/Gp/assets/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Gp - v2.2.1
  * Template URL: https://bootstrapmade.com/gp-free-multipurpose-html-bootstrap-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center justify-content-between">
    <a href="index.html" class="logo"><img src="/assets/frappe/Gp/assets/img/logo.png" alt="" class="img-fluid"></a>
      <h1 class="logo"><a href="index.html">PCW Health Care<span></span></a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->


      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li class="active"><a href="index.html">Home</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#services">Services</a></li>
          <li><a href="#portfolio">Products</a></li>
          <li><a href="#team">Team</a></li>
          <li class="drop-down"><a href="#sliders">Distributor</a>
            <!-- <ul>
              <li class="drop-down"><a href="#">Region</a>
                <ul>
                  <li><a href="#">Central Zone 1</a></li>
                  <li><a href="#">Central Zone 2</a></li>
                  <li><a href="#">North Zone 1</a></li>
                  <li><a href="#">North Zone 2</a></li>
                  <li><a href="#">South Zone 1</a></li>
                  <li><a href="#">South Zone 2</a></li>
                </ul>
                </ul>
              </li> -->

          <li><a href="#contact">Contact</a></li>

        </ul>
      </nav><!-- .nav-menu -->
	{% if frappe.session.user == 'Guest' %}
      <a href="http://pcwhealthcare.com/login#login" class="get-started-btn scrollto">Login</a>
  {% else %}
  <a href="http://pcwhealthcare.com/app" class="get-started-btn scrollto">App</a>
{% endif %}

    </div>
  </header><!-- End Header -->

  <a href="#" class="back-to-top"><i class="ri-arrow-up-line"></i></a>
  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="/assets/frappe/Gp/assets/vendor/jquery/jquery.min.js"></script>
  <script src="/assets/frappe/Gp/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/assets/frappe/Gp/assets/vendor/jquery.easing/jquery.easing.min.js"></script>
  <script src="/assets/frappe/Gp/assets/vendor/php-email-form/validate.js"></script>
  <script src="/assets/frappe/Gp/assets/vendor/owl.carousel/owl.carousel.min.js"></script>
  <script src="/assets/frappe/Gp/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="/assets/frappe/Gp/assets/vendor/venobox/venobox.min.js"></script>
  <script src="/assets/frappe/Gp/assets/vendor/waypoints/jquery.waypoints.min.js"></script>
  <script src="/assets/frappe/Gp/assets/vendor/counterup/counterup.min.js"></script>
  <script src="/assets/frappe/Gp/assets/vendor/aos/aos.js"></script>

  <!--  <script src="/assets/frappe/Gp/assets/vendor/forms/Contact.php"></script>-->

  <!-- Template Main JS File -->
  <script src="/assets/frappe/Gp/assets/js/main.js"></script>

  </body>

  </html>
